@page "/cardHistory"

<h3>Welcome History</h3>

@if (HistoryList == null || HistoryList.Count == 0)
{
    <span>No history found in the database.</span>
}
else
{
    <div class="main-container">
        <div class="container">
            @foreach (var history in HistoryList)
            {
                <img src="@history.Card.ImgName" width="150" height="241">
            }
        </div>
    </div>
}